body
{
    background-color: rgb(255, 154, 81);
}

img
{
    padding-left: 35%;
    width: 30%;
}

header
{
    text-align: center;
}

section 
{
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer
{
    text-align: center;
}

.entrada
{
    width: 15%;
    height: 20px;
    border-color: rgb(255, 154, 81);
    background-color: rgb(220, 92, 0);
    color: black;
    text-align: center;
}

.botao
{
    margin-top: 20px;
    height: 40px;
    width: 15%;
    font-size: x-large;
    border-color: rgb(255, 154, 81);
    background-color: rgb(220, 92, 0);
    color: black;

}
.resultado
{
    margin-left: 35%;
    width: 30%;
    height: 140px;
    border-color: rgb(255, 154, 81);
    color: black;
    background-color: rgb(220, 92, 0);
    text-align: center;
    font-size: medium;
    align-items: justify;
    display: flex;
}
